/CoinForCard.class
/DoublePointsTransformation.class
/DoubleResourcesTransformation.class
/GetCard.class
/GetCardAndPoints.class
/GetCardAndResources.class
/GetDiscountedCard.class
/HarvestProductionAction.class
/HarvestProductionAndPoints.class
/InstantEffect.class
/Points.class
/PointsTransformation.class
/Resources.class
/ResourcesAndPoints.class
/ResourcesAndPointsTransformation.class
/ResourcesTransformation.class
/SetFamilyMember.class
/VictoryForCard.class
/VictoryForMilitary.class
