/AlreadyOccupiedTowerDiscount.class
/CardCoinDiscount.class
/CopyLeaderAbility.class
/DoubleResourcesFromDevelopment.class
/LeaderPermanentEffect.class
/NoMilitaryRequirmentsForTerritory.class
/PlaceFamilyMemberOnOccupiedSpace.class
/SetColoredDicesValues.class
/UncoloredMemberBonus.class
/VictoryForSupportingTheChurch.class
