/CardActionMalus.class
/DiceMalus.class
/ExcommunicationPermanentEffect.class
/HarvestProductionMalus.class
/MalusForResources.class
/MalusForResourcesCost.class
/MalusVictoryForMilitary.class
/NoMarket.class
/NoVictoryForCard.class
/PointsMalus.class
/ResourceMalus.class
/ServantsMalus.class
/SkipFirstTurn.class
/VictoryMalus.class
